title = "Error page (500)"
url = "/error"
layout = "default"
==
<div class="data-builder-col-sm-12" data-builder-region="Full" data-builder-whitelist="*" data-builder-blacklist="">
    <div data-builder-sortable><!--REGION:START--><div class="jumbotron">
    <div class="container">
        <h1>Error</h1>
        <p>We're sorry, but something went wrong and the page cannot be displayed.</p>
    </div>
</div><!--REGION:END--></div>
</div>