description = "Default layout"

[Seo]
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% component 'Seo' %}
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
        <!-- <link href="{{ 'assets/css/vendor.css'|theme }}" rel="stylesheet"> -->
        <link href="{{ asset_path('main.css') }}" rel="stylesheet">
        {% styles %}
        <link href="https://fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet">
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts -->
        <!-- <script src="{{ 'assets/vendor/jquery.js'|theme }}"></script> -->
        <!-- <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script> -->
        <script src="{{ asset_path('main.js') }}"></script>
        <!-- {% framework extras %} -->
        <!-- {% scripts %} -->

    </body>
</html>
