.layout-navbar.navbar-expand-lg {
    .container {
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }
}

.layout__header-logo {
    height: 100px;
    max-width: 100%;
}