@font-face {
    font-family: 'pequescript';
    src: url('/storage/themes/sunlight/dist/fonts/pequescriptDemo.woff2') format('woff2'),
        url('/storage/themes/sunlight/dist/fonts/pequescriptDemo.woff') format('woff'),
        url('/storage/themes/sunlight/dist/fonts/pequescriptDemo.ttf') format('ttf'),
        url('/storage/themes/sunlight/dist/fonts/pequescriptDemo.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--grey);
    font-family: $font-family-sans-serif;
    font-size: rem(24px);
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    margin-bottom: $headings-margin-bottom;
}

body {
    font-size: $font-size-base;
    line-height: $line-height-base;
}

button {
    font-size: $font-size-base;
    line-height: $line-height-button;
}

blockquote {
    font-size: rem(36px);
    line-height: $headings-line-height;
}

footer {
    font-size: rem(13px);
    line-height: $line-height-std;
}

.lead {
    font-size: rem(18px);
    line-height: $line-height-intro;
}