/* COLOURS */
//  Our colours
$bistre                 : #412c22; // Brown
$bright-sun             : #ffcc40; // Yellow
$ecstasy                : #f58229; // Orange
$flamingo               : #ee3624; // Red
$serenade               : #fff4e7; // Cream
$thunder                : #393839; // Grey

// BS Defaults
// $blue                : #007bff !default;
// $indigo              : #6610f2 !default;
// $purple              : #6f42c1 !default;
// $pink                : #e83e8c !default;
$red                    : $flamingo;
$orange                 : $ecstasy;
$yellow                 : $bright-sun;
// $green               : #28a745 !default;
// $teal                : #20c997 !default;
// $cyan                : #17a2b8 !default;

// Assign primary scale
$primary                : $ecstasy;
$secondary              : $bright-sun;
$tertiary               : $flamingo;
$quaternary             : $bistre;
// $success             : $green !default;
// $info                : $cyan !default;
// $warning             : $yellow !default;
// $danger              : $red !default;
// $light               : $gray-100 !default;
// $dark                : $gray-800 !default;

// Add colours to root map
// This assigns them as css variables 
$colors : (
    'brown'             : $bistre,
    'cream'             : $serenade,
    'grey'              : $thunder,
    'tertiary'          : $tertiary,
    'quaternary'        : $quaternary,
);

/* TYPE */
$body-color             : var(--grey);
$font-family-sans-serif : 'Rubik', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-family-script     : 'pequescript', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$font-weight-normal     : 400;
$headings-font-weight   : 500;
$line-height-base       : 1.875;
$headings-line-height   : 1.25;

// Custom
$line-height-intro      : 1.75;
$line-height-button     : 1.375;
$line-height-std        : 1.5;
