<nav class="layout-navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="row">
            <div class="col col-10 col-lg-auto">
                <a class="navbar-brand" href="/">
                    <img src="{{ 'dist/svg/logo-full.svg'|theme }}" class="layout__header-logo">
                    <span class="sr-only">Return to Homepage</span>
                </a>
            </div>
            <div class="col col-2 col-lg-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggleNavbar" aria-controls="toggleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">{{ 'solid/bars'|faIcon }}</span>
                </button>
            </div>
        
            <div class="col col-12 col-lg-auto">
                <div class="row">
                    Test
                </div>
                <div class="row">
                    <div class="collapse navbar-collapse" id="toggleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

Note:<br>
To inject an svg and control its properties, color etc. use <pre>{\{ 'solid/bars'|faIcon }}</pre>
To insert the icon without the need to change anything. Use <pre>< img src="{\{ 'vendor/fa/svgs/solid/bars.svg'|theme }}"></pre>